<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDANCE DETAILS</title>
    <link rel="stylesheet" href="css/display_attendance.css">
    <link rel="script" href="js/activity.js">
    <link rel="stylesheet" href="css/bootstrap.css">

</head>


<body style=" background-color: #02052e;">

<!-- Navigation Bar -->
    


        <div class="sticky-top">
            <nav class="navbar navbar-expand-lg" style="background-color: #050936; height: max-content; z-index: 3;">
                <a class="navbar-brand">NSS MCOE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/activity">Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/display_menu">Display</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


<!-- Activity Details -->

    <h1 id="actdetailsheading"> Activity Details</h1>
<div class="col d-flex justify-content-center" id="cardcont">
    <div class="card-group">
        <div class="card-deck mt-4">
        each act in acts
            <div class="card mb-3" style="width: 38rem; border= solid 2px black">
                <div class="card-header text-white" style="font-size: 30px; background-color: #ff0000; color= white;">ACTIVITY NUMBER</div>
                <div class="card-body">
                <h5 class="card-title" style="font-size: 30px;">#{act.activity_no}</h5>
                </div>
            </div>
    
            <div class="card mb-3" style="width: 38rem; border= solid 2px black">
                <div class="card-header text-white" style="font-size: 30px; background-color: #ff0000;">ACTIVITY NAME</div>
                <div class="card-body">
                <h5 class="card-title" style="font-size: 30px;">#{act.activity_name}</h5>
                </div>
            </div>

            <div class="card mb-3" style="width: 38rem; border= solid 2px black">
                <div class="card-header text-white" style="font-size: 30px; background-color: #ff0000;">COUNT</div>
                <div class="card-body">
                <h5 class="card-title" style="font-size: 30px;">#{strength}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->

    <div class="page">
        <h1 id="atheading">Attendance  Details</h1>
        <table class="layout display responsive-table">
            <thead>
            <tr>
                <th>PRN</th>
                <th>Name</th>
                <th>Department</th>
                <th>Year</th>
                <th>Shift</th>
                <th>Roll No</th>
            </tr>
        </thead>
        each item in items
            <tr>
                td=item.prn
                td=item.student_name
                td=item.department
                td=item.year
                td=item.shift
                td=item.roll_no
            </tr>
    
</body>
</html>